.titulo{

}
.titulo{
    font-family: 'Oswald';
}
.parrafo{
    font-family: 'Monserrat';
}

#fut{
    font-family: 'Oswald';
    font-size: larger;
    background-color: #4b8827;;
}

.producto{
    border: 3px solid black; /* Contorno negro de 3px */
    border-radius: 5px; /* Opcional: bordes redondeados */
}
