.titulo {
    font-family: 'Oswald', sans-serif; /* Aplica la fuente Oswald */
    font-weight: 700; /* Puedes cambiar a 200, 400, 700 según lo que quieras */
}

.parrafos{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}



.seccion {
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
    text-align: center;
    border: 5px solid black; /* Agrega un borde negro */
    border-radius: 10px
}

.border{
    padding: 20px; 
    border-radius: 15px
}

#btnArriba {
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: none; /* Oculto al inicio */
    width: 100px;
    height: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}